{% extends 'base.html.twig' %}

{% block title %}
    Lobby
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset(bower~'angular-ui-notification/dist/angular-ui-notification.min.css') }}" />
{% endblock %}

{% block javascripts %}
    <script src="{{ asset(bower~'angular-ui-notification/dist/angular-ui-notification.min.js') }}"></script>
    {% block angularApp %}
        <script src="{{ asset('assets/js/baseApp.js') }}"></script>
    {% endblock %}
    {% block angularServices %}
    {% endblock %}
    {% block angularController %}
        <script src="{{ asset('assets/js/controllers/defaultController.js') }}" type="text/javascript"></script>
    {% endblock %}
{% endblock %}

{% block body %}
    <div id="lobby-content" >
        {% block content %} {% endblock %}
    </div>
    <footer class="container-fluid" >
        {% block footer %}
            <div class="row">
                <div class="col-xs-12">
                    Copyright Azarias Boutin &copy; TeaMeeting
                </div>
            </div>
        {% endblock %}
    </footer>

{% endblock %}