{% extends "base.html.twig" %}


{% block body %}


    {% if error %}
        <div>
            {{ error.messageKey|trans(error.messageData, 'security') }}
        </div>
    {% endif %}

    <form action="{{ path('login') }}" method="post" >
        <label for="username">Login : </label>
        <input type="text" id="login" name="_username" />

        <label for="password">Password : </label>
        <input type="password" id="password" name="_password" />

        <button type="submit" >Login</button>
    </form>
    <div class="container">
    <h2>Our website is available soon !</h2>
    <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:40%">
        <span class="sr-only">40% Complete</span>
    </div>
  </div>
    </div>
{% endblock %}  