{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - Student
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 col-xs-12" id="exams" >
                Exams list
            </div>
            <div class="col-md-6 col-xs-12" id="options" >
                Options
            </div>
        </div>
    </div>
{% endblock %}