{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - Teacher
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1>Welcome back, {{ app.user.username }}</h1>
        <div class="row" >
            <div class="col-xs-12" id='modules'>
                <ul class="nav nav-pills nav-stacked col-xs-12 col-md-3" >
                    <li> 
                        {% if is_granted('') %}
                            <a href="#">Users</a>
                        {% else %}
                            <a href="{{ path('studentList') }}">Students</a>                                
                        {% endif %}
                    </li>
                    <li>
                        <a href="#">Modules</a>
                    </li>
                    <li>
                        <a href="#">Exam details</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}