{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - {{ student.login }}
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12" id="exams" >
                <h1>My results</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">

            </div>
        </div>
    </div>
{% endblock %}