{# empty Twig template #}
{% extends "base.html.twig" %}

{% block title %}
    Lobby - Teacher
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Welcome back, {{ app.user.username }}</h1>
        <div class="row" >
            <div class="col-xs-12" id='modules'>
                <ul class="nav nav-pills nav-stacked col-xs-12 col-md-3" >
                    <li> 
                        <a href="{{ path('studentList') }}">
                            {% if is_granted('ROLE_ADMIN') %}
                                Users
                            {% else %}
                                Students
                            {% endif %}
                        </a>                                
                    </li>
                    <li>
                        <a href="{{ path('moduleList') }}">Modules</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}