
{% extends "base.html.twig" %}

{% block angularController %}
    {{ asset('assets/js/controllers/userListController.js') }}
{% endblock %}

{% block angularServices %}
    <script src="{{ asset('assets/js/services/modalFormService.js') }}"></script>
    <script src="{{ asset('assets/js/services/postService.js') }}"></script>

{% endblock %}

{% block content %}
    {% set angularConroller = 'userListController.js' %}

    <div class="container-fluid">
        <h1>
            {% if is_granted('ROLE_ADMIN') %}
                Users
            {% else %}
                Students
            {% endif %}
        </h1>
        <button 
            ng-click="ctrl.showNewStudentModal()"
            type="button" 
            class="btn btn-default"
                >Create new student</button>
    </div>
{% endblock %}