
{% extends "base.html.twig" %}

{% block angularServices %}
    <script src="{{ asset(bower ~ 'chart.js/dist/Chart.min.js') }}"></script>
    <script src="{{ asset('assets/js/surveystats.js') }}"></script>
{% endblock %}

{% block title %}
    Survey result
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12"> 
                <h1>Survey result </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" >
                {{ surveys | length }} student answered the survey
            </div>
        </div>
        <div class="row" id="canvas-holder" >
        </div>
        <div class="row" >
            <div class="col-xs-12"> 
                <a  class="btn btn-default" href="/home" > 
                    Home
                </a>
            </div>
        </div>
    </div>
{% endblock %}